            <!-- {{!-- main webpage content --}} -->
            <div class="row justify-content-between">
                <!-- {{!-- column left side --}} -->
                <div class="col-6">
                    <!-- book image -->
                    <div class="text-center">
                        <img src="{{book.bookcoverURL}}" class="rounded" alt="book posting image here">
                    </div>
                </div>
                <!-- {{!-- column right side --}} -->
                <div class="col-5">
                    <!-- results info -->
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill"><strong>Title:</strong></li>
                        <li class="list-group-item flex-fill">{{book.bookName}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill"><strong>Author:</strong></li>
                        <li class="list-group-item flex-fill">{{book.author}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill"><strong>Year Published:</strong></li>
                        <li class="list-group-item flex-fill">{{book.yearPublish}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item flex-fill"><strong>ISBN:</strong></li>
                        <li class="list-group-item flex-fill">{{book.isbn}}</li>
                    </ul>
                    <!-- description -->
                    <div class="card mb-3" id="book-description">
                        <div class="card-body">
                            <h5 class="card-title">About the Book:</h5>
                            <p class="card-text">Description of the book will go here as well as any sort of supporting text about the condition or anything else not mentioned.</p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a href="/book/{{book.id}}/checkout" class="btn btn-primary">Rent Book</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    