            {{#each books}}
        <div class="card-wrapper">
            <a href="/book/{{this.id}}" class = "card-link">
            <div class="card pb-3 ">
                <img src="{{this.bookcoverURL}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.bookName}}
                    </h5>
                    <p class="card-text">
                        {{this.author}}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Year Published: {{this.yearPublish}}</li>
                    <li class="list-group-item">ISBN: {{this.isbn}}</li>
                    <li class="list-group-item">${{this.rentalPrice}}</li>
                </ul>
                <div class="card-body">
                    <a href="" class="btn btn-primary">Rent Now</a>
                </div>
            </div>
            </a>
        </div>
            {{/each}}